/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";
#hero{
  background: url(../img/hero.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  margin-top: -64px;
}
#housing{
  background: url(../img/bg-2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 50vh;
}
nav{
  background-color: #172853;
}
.title{
  font-weight: 700;
  font-size: 80px;
}
.brand-logo{
  margin-left: 20px;
}
.s-title{
  font-weight: 500;
  font-size: 60px;
  color: #172853;
}
.sep{
  width: 100px;
  border-color: #ff9800;
  color: #ff9800;
  border-width: 1px;
  border-style: solid;
}
.s-desc{
  font-size: 18px;
  color: rgba(0,0,0,0.65);
  margin-top: 30px;
}
.img-col{
  h2{
    color: white;
    font-weight: 500;
    opacity: 0.97;
    font-size: 42px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  p{
    margin-top: 0;
    color: white;
    opacity: 0.8;
    font-size: 24px;
  }
  button{
    border-radius: 45px;
  }
}
footer.page-footer{
  padding-top: 0;
  margin-top: 0;
  background-color: #172853;
  height: 80px;
  .footer-copyright{
    height: 80px;
    line-height: 80px;
  }
}
#geo-loader-wrapper{
  text-align: center;
  height: 100vh;
  margin-top: -64px;
  div.center{
    margin-top: 23em;
  }
}
#no-park, #in-piedmont, #in-candler, #in-centennial{
  display: none;
}
#geo-info{
  position: absolute;
  z-index: 10;
  width: 100%;
}
#box-1{
  opacity: 0.5;
}
#modalTrigger{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3em;
  line-height: 3em;
  font-size: 18px;
  background-color: #172853;
}
#location-dropdown{
  z-index: 1000;
}
#construction-img{
  width: 600px;
}
@media (max-width: 450px) {
  .brand-logo{
    font-size: 20px !important;
  }
  #housing {
    min-height: 100vh;
  }
  .title{
    font-size: 50px;
  }
  #construction-img{
    width: 300px;
  }
}